/* 基本样式 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.question {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.question:last-child {
    border-bottom: none;
}

.question p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #2980b9;
}

select, input[type="file"]{
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 50px;
}
textarea{
    width: 70vh;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 70px;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}

.image-description {
    text-align: center;
    margin: 20px 0;
}

.image-description.hidden {
    display: none;
}

.hint-section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

/* 新增样式 */
.category-display, .difficulty-selection {
    display: inline-block;
    margin: 0 10px;
}

.question-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#questionLabel {
    margin-right: 10px;
}
.pyramid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.row {
    display: flex;
    justify-content: center;
    margin: 1px 0;
}
.box {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin: 0 2px;
    background-color: #f3f3f3;
}
.highlight {
    background-color: yellow;
}
input[type="text"] {
    width: 58px;
    height: 28px;
    text-align: center;
    border: 1px solid #000;
    background-color: white;
}